.list-item {
  padding: 3px 5px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  cursor: pointer;
  transition: all ease 0.5s;
  margin-bottom: unset;
}

.list-item:hover {
  background: #d8f7e1;
}

